@model IEnumerable<FlowerShop.UI.Models.Order.OrderVm>

@{
    ViewData["Title"] = "GetUserOrders";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/form.css" />
</head>

<body>
<h1>Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                    №
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatusName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatusName)
            </td>
        </tr>
}
    </tbody>
</table>
</body>